<div class="nav-wrapper">
  <nav class="navbar navbar-dark bg-dark">
    <!--Search Bar -->
    <div class="input-group input-group-sm justify-content-start">
      <div class="logo">
        <img src="/assets/images/logo.png" style="height: 34px; width: 34px" href="#" alt="home">
      </div>
      <input type="text" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-sm" placeholder="Search">
      <div class="input-group-append">
        <span class="input-group-text" id="inputGroup-sizing-sm"><a class="fas fa-search"></a></span>
      </div>
    </div>
    <!--NAVIGATION ICONS-->
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link fas fa-home" href="#" data-toggle="tooltip" data-placement="bottom" title="Home"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fas fa-gamepad" href="#" data-toggle="tooltip" data-placement="bottom" title="My Games"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link fas fa-bell" href="#" data-toggle="tooltip" data-placement="bottom" title="Notifications"></a>
      </li>
      <li id="miniPic" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">
          <img src="/assets/images/Profile Pic.jpg" alt="Profile Settings" class="rounded-circle" style="height: 25px; width: 25px"
            data-toggle="tooltip" data-placement-"bottom" title="Profile Settings">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Do Something</a>
          <a class="dropdown-item" href="#">Do Something Else</a>
          <a class="dropdown-item" href="#">And Yet Another Thing</a>
          <a class="dropdown-item" href="#">Then One Last Action</a>
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
  </nav>
</div>