<div class="container">
  <div></div>
  <div id="emailField">
    <label>Email: </label>
    <input type="text" name="email" required>
  </div>
  <div id="usernameField">
    <label>Username: </label>
    <input type="text" name="createUsername" required>
  </div>
  <div id="passwordField">
    <label>Password: </label>
    <input type="password" name="createPassword" required>
  </div>
  <button>Create Account</button>
</div>