<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Create New Account</title>
</head>

<body>
  <form action="/create-account", method="POST">
  <div class="container">
    <form>
      <div id="usernameField">
        <label>Username: </label>
        <input type="text" id="createUsername" required>
      </div>
      <div id="nameField">
        <label>Name: </label>
        <input type="text" id="name" required>
      </div>
      <div id="passwordField">
        <label>Password: </label>
        <input type="password" id="createPassword" required>
      </div>
      <div id="ageField">
        <label>Age: </label>
        <input type="number" id="age" required>
      </div>
      <div id="locationField">
        <label>Location: </label>
        <input type="text" id="location" required>
      </div>
    </form>

    <p>Select play style:</p>
    <form action="/action_page.php">
      <select id="playStyle" size="1">
        <option value="story">Just the Story</option>
        <option value="storyPlusExtras">Story + Extras</option>
        <option value="completionist">100% Completion</option>
      </select>
    </form>

    <p>Select platform:</p>
    <form action="/action_page.php">
      <select id="platform" size="1">
        <option value="PC">PC</option>
        <option value="playstation">Playstation</option>
        <option value="xbox">Xbox</option>
      </select>
    </form>
    <button id="createAccount">Create Account</button>
  </div>
</form>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="./public/js/createAccount.js"></script>
</body>

</html>