<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
	 crossorigin="anonymous">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">

	<link rel="stylesheet" href="../public/assets/css/layout.css" type="text/css">

	<title>wiredIN</title>

</head>

<body>

	<!-- NAVIGATION BAR -->
	<div class="nav-wrapper">
		<nav class="navbar navbar-dark bg-dark">
			<!--Search Bar -->
			<div class="input-group input-group-sm justify-content-start">
				<div class="logo">
					<img src="../public/assets/images/logo.png" style="height: 34px; width: 34px" href="#" alt="home">
				</div>
				<input type="text" class="form-control" aria-label="Search" aria-describedby="inputGroup-sizing-sm" placeholder="Search">
				<div class="input-group-append">
					<span class="input-group-text" id="inputGroup-sizing-sm"><a class="fas fa-search"></a></span>
				</div>
			</div>

			<!--NAVIGATION ICONS-->
			<ul class="nav justify-content-end">
				<li class="nav-item">
					<a class="nav-link fas fa-home" href="#" data-toggle="tooltip" data-placement="bottom" title="Home"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link fas fa-gamepad" href="#" data-toggle="tooltip" data-placement="bottom" title="My Games"></a>
				</li>
				<li class="nav-item">
					<a class="nav-link fas fa-bell" href="#" data-toggle="tooltip" data-placement="bottom" title="Notifications"></a>
				</li>
				<li id="miniPic" class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
					 aria-expanded="false">
						<img src="../public/assets/images/deadpool.jpg" alt="Profile Settings" class="rounded-circle" style="height: 25px; width: 25px"
						 data-toggle="tooltip" data-placement-"bottom" title="Profile Settings">
					</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#">Settings & Privacy</a>
						<a class="dropdown-item" href="#">Logout</a>
					</div>
				</li>
			</ul>
		</nav>
	</div>

	<!-- MAIN CONTENT -->

	<div class="container">
		<div class="row">
			<!--USER PROFILE INFORMATION-->
			<div class="profile-info col-sm-3">
				<div class="info-card" style="max-width: 18rem;">
					<img class="card-img-top rounded-circle" src="../public/assets/images/deadpool.jpg" style="height: 160px; width: 160px"
					 alt="Profile Photo">
					<div class="card-body">
						<div id="userName">
							<h5 class="user" style="font-weight: bold">
								<!-- NAME HERE -->Mr. Pool
							</h5>
						</div>
						<div id="playerStyle">
							<h6 class="player-level" style="font-style: italic; color: rgb(149, 17, 189)">
								<!-- PLAYER STYLE/LEVEL HERE --> Completionist
							</h6>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item" id="itemAge">Age: 30</li>
						<li class="list-group-item" id="itemLocation">Location: Your Living Room, USA</li>
						<li class="list-group-item" id="itemPlatform">Game Platform: XBox</li>
					</ul>
					<div class="card-footer">
						<div class="profile-change">
							<div class=icon-left>
								<a class="fas fa-edit" href="#" data-toggle="tool-tip" data-placement="bottom" title="Edit Profile" style="float: left"></a>
							</div>
							<div class="icon-right">
								<a class="fas fa-gamepad" href="#" data-toggle="tool-tip" data-placement="bottom" title="Add New Game" style="float: right"></a>
							</div>
							<div class="empty" style="clear: both"></div>
						</div>
					</div>
				</div>

				<!-- Game List | My Games -->
				<div class="game-list-wrapper" style="max-width: 18rem; max-height: 100%; text-align: center">
					<h6 class="my-games-header" style="color: rgb(149, 17, 189)">My Games</h6>
					<div class="separate-fun-arrows">
						<i class="fas fa-sort-down" style="color: rgb(178, 121, 235)"></i>
					</div>

					<div class="card-body" id="gameCard">
						<div id="gameTitle" style="font-size: 10px; color: rgb(178, 121, 235)">
							<h5 class="game-title" style="font-size: 14px"> Dead Red Redemption </h5>
						</div>

						<div class="icon-left">
							<a class="fas fa-info-circle" href="#" data-toggle="tool-tip" data-placement="bottom" title="View Game Info"
							 style="float: left"></a>
						</div>
						<div class="icon-right">
							<a class="far fa-share-square" href="#" data-toggle="tool-tip" data-placement="bottom" title="Share this game"
							 style="float: right"></a>
						</div>
					</div>

					<div class="card-body" id="gameCard">
						<div id="gameTitle" style="font-size: 10px; color: rgb(178, 121, 235)">
							<h5 class="game-title" style="font-size: 14px"> Batman: Arkham Asylum </h5>
						</div>

						<div class="icon-left">
							<a class="fas fa-info-circle" href="#" data-toggle="tool-tip" data-placement="bottom" title="View Game Info"
							 style="float: left"></a>
						</div>
						<div class="icon-right">
							<a class="far fa-share-square" href="#" data-toggle="tool-tip" data-placement="bottom" title="Share this game"
							 style="float: right"></a>
						</div>
					</div>
				</div>
			</div>

			<!--NEWS FEED SECTION -->

			<div class="col-sm-6">
				<div class="form-group">
					<textarea class="form-control" id="wallPost" rows="2" placeholder="Write a post..."></textarea>
					<div class="post-instructions">
						<span class="fas fa-pencil-alt fa-1x" style="display: inline" href="#" data-toggle="tool-tip" data-placement="bottom"
						 title="Post"></span>
						<span class="far fa-image fa-1x" style="display: inline" href="#" data-toggle="tool-tip" data-placement="bottom"
						 title="Post an image"></span>
						<span class="fas fa-video fa-1x" style="display: inline" href="#" data-toggle="tool-tip" data-placement="bottom"
						 title="Post a video"></span>
					</div>
				</div>
				<div id="contentPosted" class="newsFeed">
					You have not made any posts yet. Write a post and click <i class="fas fa-pencil-alt" style="padding-left: 5px"></i>
				</div>
			</div>

			<!--Trending Content-->

			<div class="trend-wrapper col-sm-3">
				<div class="card border-dark" style="max-width: 18rem;">
					<div class="card-header">
						<h6 class="sponsored-header" style="color: rgb(149, 17, 189); font-style: italic">Sponsored</h6>
					</div>
					<div class="card-body">
						<div class="new-sponsor">
							<img class="sponsor-random" src="https://cdn.images.dailystar.co.uk/dynamic/184/photos/236000/620x/Nintendo-Switch-Games-News-Massive-boost-for-Nintendo-games-ahead-of-Christmas-745333.jpg?r=5c0349f073453">
							<p class="ad-sponsor-desc">Happy Holidays from Nintendo!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	



	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>

</body>

</html>