<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div>
    <div id="logoIcon"></div>
    <div id="usernameField">
      <label>Username: </label>
      <input type="text" name="username" required>
    </div>
    <div id="passwordField">
      <label>Password: </label>
      <input type="password" name="password" required>
    </div>
    <div id="signIn">
      <button id="signInButton">Sign In</button>
    </div>
    <p></p>
    <div id="createAccount">
      <button id="createAnAccount">Create an Account</button>
    </div>
  </div>

</body>

</html>
