<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/login.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>

<body>

  <div class="section">
    <div id="logoIcon" class="centerText">
      <img src="/assets/images/logo.png" alt="logo">
    </div>

    <section id="fieldSection" class="container centerText">

      <div id="usernameField" class="">
        <label class="row">Username: </label>
        <input class="row" type="text" name="username" required>
      </div>

      <div id="passwordField" class="">
        <label class="row">Password: </label>
        <input class="row" type="password" name="password" required>
      </div>

      <div id="signIn" class="centerText">
        <h4 id="signInh4" class="button">Sign In</h4>
      </div>

      <p>Or</p>

      <div id="createAccount" class="centerText">
        <h4 id="createAnAccount" class="button">Create an Account</h4>
      </div>
    </section>
  </div>
</body>

</html>