<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/login.css" type="text/css" />

<div class="container text-center">

  <img src="/assets/images/logo.png" alt="logo">
  <form action ="/login", method="POST">
  <input type="text" class="form-control txtBox" name="username" placeholder="Username">
  <input type="password" class="form-control txtBox" name="pass" placeholder="Password">
 
  <button type="submit" class="btn btn-secondary mb-2 customBtn" id="loginBtn">Log In</button>
    <br>
  </form>

  <button type="submit" class="btn btn-secondary mb-2 customBtn" id="createAccBtn" data-toggle="modal" data-target="#accModal">Create
    Account</button>

</div>

<footer class="bg-black small text-center text-white-50">
  <div class="container">
    Copyright © WiredIn 2018
  </div>
</footer>

<div class="modal fade" id="accModal" tabindex="-1" role="dialog" aria-labelledby="accCreate" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title text-center" id="accCreate">Account Creation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="createForm">
        <form action="/create-account" , method="POST">
          <div class="container">
            <form>
              <div id="usernameField">
                <input type="text" class="form-control txtBox" id="createUsername" placeholder="Username" required>
              </div>
              <div id="nameField">
                <input type="text" class="form-control txtBox" placeholder="Name" id="name" required>
              </div>
              <div id="passwordField">
                <input type="password" class="form-control txtBox" placeholder="Password" id="createPassword" required>
              </div>
              <div id="ageField">
                <input type="number" class="form-control txtBox" placeholder="Age" id="age" required>
              </div>
              <input type="text" class="form-control txtBox" placeholder="Location" id="location" required>
          </div>
        </form>

        <p class="text-center">How do you normally complete games?:</p>
        <form action="/action_page.php">
          <select id="playStyle" class="form-control txtBox" size="1">
            <option value="1">Just the Story</option>
            <option value="2">Story + Extras</option>
            <option value="3">100% Completion</option>
          </select>
        </form>

        <p class="text-center">Pick your primary console</p>
        <form action="/action_page.php">
          <select id="platform" class="form-control txtBox" size="1">
            <option value="1">PC</option>
            <option value="2">Playstation</option>
            <option value="3">Xbox</option>
          </select>
        </form>
        <div class="row text-center">
          <button type="submit" id="createAccount" class="btn btn-secondary mb-2 customBtn">Create Account</button>
        </div>
      </div>
      </form>
    </div>
    <br>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="/assets/js/login.js"></script>