<div class="profile-info col-sm-3">
    <div class="info-card" style="max-width: 18rem;">
        <img class="card-img-top rounded-circle" src="../../assets/images/Profile Pic.jpg" style="height: 160px; width: 160px"
            alt="Profile Photo">
        <div class="card-body">
            <h5 class="card-title">USER</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Gender</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Platforms</li>
        </ul>
        <div class="card-footer">
            <div class="profile-change">
                <div class=icon-left>
                    <span class="fas fa-edit" data-toggle="tool-tip" data-placement="bottom" title="Edit Profile" style="float: left"></span>
                </div>
                <div class="icon-right">
                    <span class="fas fa-gamepad" data-toggle="tool-tip" data-placement="bottom" title="Add New Game"
                        style="float: right"></span>
                </div>
                <div class="empty" style="clear: both"></div>
            </div>
        </div>
    </div>
</div>