body {
    background-color: rgb(214, 209, 209);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

.nav-wrapper {
    border-bottom: solid 3px rgb(245, 130, 224);
}
.navbar {
    padding-left: 150px;
    padding-right: 150px;

}
.navbar-dark {
    background-image: linear-gradient(to right, rgb(149, 17, 189), rgb(42,3,65));
}
.fas, .far {
    color: rgb(178, 121, 235);
}

.post-instructions {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(42, 3, 65);
}
.fa-pencil-alt, .fa-image, .fa-video {
    padding-left: 20px;
}

.logo {
    padding-right: 25px;
}

.input-group {
    max-width: 40%;
}

.container {
    margin: 0 auto;
    padding: 30px 0px;
}

.card-body {
    padding: 10px;
}

.info-card {
    background-color: rgb(255,255,255);
    border: solid 1px rgb(42, 3, 65);
    text-align: center;
    box-shadow: 2px 2px 3px rgb(178, 121, 235);
}
.info-card img {
    padding-top: 10px;
}

.card {
    box-shadow: 2px 2px 3px rgb(178, 121, 235);
    border: solid 1px rgb(42, 3, 65);
}
.card-footer {
    background-color: rgb(42, 3, 65);
}

.list-group-item {
    border: none;
    padding: 0;
    font-size: 12px;
}
.list-group {
    border-top: solid 1px;
}
.game-style {
    font-style: italic;
    color: rgb(178, 121, 235);
}

.game-list-wrapper {
    padding-top: 25px;
}
.my-games-header {
    margin-bottom: 0;
    padding-top:10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(245, 130, 224)
}
.game-list {
    border: solid 1px rgb(149, 17, 189);
}

.dropdown-menu {
    border: solid 1px rgb(240, 199, 232);
    box-shadow: 2px 2px 3px rgb(42, 3, 65);
}

.sponsor-random {
    height: 72px;
    width: 98px;
    float: left;
    padding-right: 10px;
}
.ad-sponsor-desc {
    font-size: 18px;
    color: rgb(197, 9, 9);
    text-shadow: 1px 1px 2px rgb(3, 82, 3);
}

#gameCard {
    background-image: linear-gradient(to right, rgb(240, 199, 232), rgb(255, 255, 255));
    border: solid 1px rgb(178, 121, 235);
    box-shadow: 1px 1px 1px rgb(149, 17, 189);
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.newGameCard {
    background-image: linear-gradient(to right, rgb(240, 199, 232), rgb(255, 255, 255));
    border: solid 1px rgb(178, 121, 235);
    box-shadow: 1px 1px 1px rgb(149, 17, 189);
    margin: 10px auto 10px;
    word-wrap: normal, break-word, initial inherit;
    height: 500px;
    width: 400px;
}
.card-img-top {
    height: 70%;
}
