body {
    background-color: rgb(214, 209, 209);
}

.nav-wrapper {
    border-bottom: solid 3px rgb(245, 130, 224);
}
.navbar {
    padding-left: 150px;
    padding-right: 150px;

}
.navbar-dark {
    background-image: linear-gradient(to right, rgb(149, 17, 189), rgb(42,3,65));
}
.fas {
    color: rgb(178, 121, 235);
    display: inline-flex;
}

.logo {
    padding-right: 25px;
}

.input-group {
    max-width: 40%;
}

.container {
    margin: 0 auto;
    padding: 30px 0px;
}

.card-body {
    padding: 10px;
}

.info-card {
    background-color: rgb(255,255,255);
    border: solid 1px rgb(42, 3, 65);
    text-align: center;
    box-shadow: 2px 2px 3px rgb(178, 121, 235);
}
.info-card img {
    padding-top: 10px;
}

.card {
    box-shadow: 2px 2px 3px rgb(178, 121, 235);
    border: solid 1px rgb(42, 3, 65);
}
.card-footer {
    background-color: rgb(42, 3, 65);
}

.list-group-item {
    border: none;
    padding: 0;
    font-size: 12px;
}
.list-group {
    border-top: solid 1px;
}
.game-style {
    font-style: italic;
    color: rgb(178, 121, 235);
}

#itemAge, #itemPlatform {
    padding-top: 10px;
    padding-bottom: 10px;
}

.game-list-wrapper {
    padding-top: 25px;
}
.game-titles {
    padding-top:10px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 1px 1px 3px rgb(245, 130, 224)
}
.game-list {
    border: solid 1px rgb(149, 17, 189);
}