body {  
  display: flex;
  height: 100vh;
  background-color: #737373;
  vertical-align: middle;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Quicksand', sans-serif;
}



.button {
  line-height: 47px;
  color: white;
  border-radius: 50px;
  height: 50px;
  justify-content: center;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input {
  background-color: #333333;
  border: 0;
  border-radius: 50px;
  width: 292px;
  height: 50px;
  align-content: center;
}

.customBtn, .txtBox {
  width: 292px;
  border-radius: 20px;
  margin: 20px auto;
}

.customBtn {
  background: #46007D;
}



.modal-content {
  background-color: rgba(97, 15, 160, 0.9);
  opacity: 75%;
  text-shadow: 2px 1px black;
}

p {
  padding: 0;
}